
 @import url('https://fonts.cdnfonts.com/css/new-york-extra-large');


/* variables */
:root {
    --primary: #BAE732;
    --secondary: #35313d;
    --warning: #fff70d;
  }
  /* base styles  */
  * {
    margin: 0;
    padding: 0;
    /* font-family: 'New York Medium', sans-serif; */
    /* font-family: 'New York Small', sans-serif; */
    /* font-family: 'New York Extra Large', sans-serif; */
    font-family: 'New York Large', sans-serif;
    color: var(--primary);
  }
  body {
    background: #2e3637;
  }
  a {
    text-decoration: none;
  }
  /* buttons */
  button, .btn { 
    background: var(--secondary);
    border-radius: 8px;
    border: 0;
    padding: 8px 12px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
  }
  button:hover, .btn:hover {
    background: var(--primary);
    color: #323722d6;
  }
  button:disabled {
    opacity: 0.5;
    color: var(--primary);
    background: var(--secondary);
    cursor: not-allowed;
  }
  
  /* forms */
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
    border: 1px solid  var(--secondary);
    background: #bae73278;
   
  }
  input::placeholder ,
  textarea::placeholder{
    color:#efffbe79 ;
  }
  input, textarea {
    border: 0;
    border-bottom: 1px solid var(--secondary);
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    background-color:  #35313d;
    color:#efffbef3 ;
  }
  
  /* error text */
  .error {
    color: var(--warning);
    font-size: 14px;
    margin: 16px 0;
  }